html, body{
	background-color: #3bb7ff;
	color: #FFFFFF;
}
hr{
	background-color: transparent;
	/*border-color: #FFFFFF;*/
	border-top: 1px solid #FFFFFF;
}
h1, h2, h3 {
	text-align: center;
}
a.disable{
	pointer-events: none;
	cursor: default;
}

/* The classes defined here are usually for setting innerText and to keep track of them. */
.current_team_number{ }
.current_year{ }

.current_team_name{ }
.current_team_website_link{ }
.current_team_website_label{ }
.current_team_location{ }

.current_record_total{ }
.current_record_qual{ }
.current_record_playoff{ }

.success_auto_runs{ }
.matches_played_number, .countable_matches_played_number{ }
.events_attended{ }

#additional_team_data{ }

.input_div{
	width: 100%;
	text-align:center;
}

#team_number_input{
	width: 200px;
	height: 80px;
	background-color: rgba(100%, 100%, 100%, .2);
	font-size: 60px;
	text-align: center;
	color: #ff5238;
}