html, body{
    background-color: #3bb7ff;
    color: #FFFFFF;
    margin: 0;
}
hr{
    background-color: transparent;
    /*border-color: #FFFFFF;*/
    border-top: 1px solid #FFFFFF;
}
h1, h2, h3, .centered {
    text-align: center;
}
a.disable{
    pointer-events: none;
    cursor: default;
}

/* The classes defined here are usually for setting innerText and to keep track of them. */
.current_team_number{ }
.current_year{ }

.current_team_name{ }
.current_team_website_link{ }
.current_team_website_label{ }
.current_team_location{ }

.current_record_total{ }
.current_record_qual{ }
.current_record_playoff{ }

.success_auto_runs{ }
.matches_played_number, .countable_matches_played_number{ }
.events_attended{ }

#additional_team_data{ }

.input_div{
    width: 100%;
    text-align:center;
}
.text_div{
    margin: 0 auto;
    width: 800px;
}

#team_number_input, #event_code_input, #year_input{
    height: 80px;
    background-color: rgba(100%, 100%, 100%, .2);
    font-size: 60px;
    text-align: center;
    color: #ff5238;
}
#team_number_input, #year_input{
    width: 200px;
}
#event_code_input{
    width:400px;
}
#nav_table{
    width: 100%;
    border-collapse: collapse;
}
#nav_table th{
    height: 50px;
    vertical-align: center;
}
#nav_table th.current_nav{
    border-left: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
}
#nav_table th:not(.current_nav){
    border-bottom: solid 1px #FFFFFF;
    background-color: rgba(0,0,0, .2);
    cursor: pointer;
}
#nav_table th:hover{
    background-color: rgba(0,0,0, .3);
}
#nav_table th.current_nav{
    background-color: rgba(0,0,0, .3);
    border-bottom: none;
}
